# ===== OS =====
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# ===== Редакторы =====
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~
*.tmp

# ===== Логи =====
*.log
npm-debug.log*

# ===== Node / сборка (на всякий случай) =====
node_modules/
dist/
.cache/